/* CSS Document */
#maintop{/* # pour faire appel au niveau html par div id*/
	background:url(img/top_bg.png) ;/*repeat pour saturer le div */
	height:52px;
	width:100%;
	position:absolute;
	top:0;
	right:0;
	left:0;
		 }
#conteneur{margin:0 auto;
           width:948px;
           background:url(img/flash_img.png) no-repeat;
		   position:relative;
		   top:44px;
		  
		   
		   }
.logo{position:relative;/*pour faire appel au niveau html  div par  class, relative pour avoir une position relative % bloc qu'il contient; r*/
      left:-2px;
	  top:0;/*l'altitude d'affichage*/
	  height:177px;}/*la hauteur*/
.menu{background:#8e2f28;
      height:66px;
	  position:relative; /*pour prendre position relative % au bloc*/
	 top:206px;
	  width:946px;}

.en_cours a{background-color:#000000;
          background-image:url(img/rings.png);
		  background-repeat:no-repeat;
		  background-position:right;
		  float:left;
		  width:189.2px;
		  height:66px;
		  text-align:center;
		  text-transform:uppercase;
		  line-height:66px;
		  text-decoration:none;
		  color:#FFFFFF;
		 
		  }
.menu1 a{ 
         float:left; 
         width:189.2px;
		 height:66px;
		 text-align:center;
		 line-height:65px;
		 color:#FFFFFF;
		 text-transform:uppercase;
		 text-decoration:none;
		/*background:#000000;
		 background-color:#FF3300;
		 background-color:#000000;*/
		 }	 
.menu1 a:hover{background-color:#000000;/* menul a:hover pour faire briller l'icone quand on passe la souris*/
			   background-image:url(img/rings.png);/*pour utiliser image comme background*/
			   background-position:right;/*mettre image a droite */
			   background-repeat:no-repeat;/*pour ne pas remplir l'espace par l'image*/
			   }
#top{
	position:absolute;
	top:500px;
	width:930px;
	margin-left:18px;
	height:297px;
	overflow:hidden;
	
	}
.element1{
		  height:210px;
		  width:432px;
		  position:relative;
		  top:-20px;}
.element1 h3{font-family:Arial, Helvetica, sans-serif;
             font-weight:bold;
			 font-size:18px;
			 color:#333333;}
.element1 h4{font-size:21px;
             color:#9d2c25;
			 font-weight:bold;
			 font-family:"Georgia";
			 }
.element1 p{color:#666666;
            font-size:14px;
			font-family:"Arial";
			}
.element1 h5{color:#9d2c25;
            font-size:14px;
			font-family:"Arial";
			font-weight:bold;
			}
.element2{
          height:200px;
		  width:238px;
		  margin-left:466px;
		  margin-top:-250px;
		  }
.element2 h3{font-family:Arial, Helvetica, sans-serif;
             font-weight:bold;
			 font-size:18px;
			 color:#333333;}
.element3{
          height:200px;
		  width:238px;
		  float:right;
		  margin-top:-218px;
		  }
.element3 img{float:right;}
.element3 h3{margin-left:10px;
             font-family:Arial;
             font-weight:bold;
			 font-size:18px;
			 color:#333333;}

#bas{
	 height:220px;
	 margin-left:18px;
	 position:relative;
	 top:520px;
	 
	 }
#bas p{color:#333333;
	   font-size:18px;
	   font-weight:bold;
	   font-family:Arial, Helvetica, sans-serif;
	   margin-left:462px;
	   margin-bottom:20px;
	   }
#bas .image1{margin-right:14px;
             }
#bas .image2{margin-right:18px;
			 } 
#bas .image3{margin-right:18px;
			 } 
#bas .image4{float:right;
			 margin-top:58px;
			 }
.bottom{text-align:center;
		margin-top:563px;
		padding-bottom:30px;
		padding-top:74px;
		color:#000000;
		font-size:14px;
		font-family:Arial;
		}

#mainbottom{background:url(img/foot_bg.png) repeat;
            height:212px;
			background-position:bottom;
			position:absolute;
			left:0;
			right:0;
			}
/*pour rendre un menu horizontale : display:niline;*/